.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #af13ab;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 300px;
    margin-left: 100;
    margin-right: 100;
    padding: 10px;
}

.button:hover {background-color: #eec2e7
}

.button:active {
    background-color: #eec2e7;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.bewegdichdusau{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
    margin-bottom: 90px;
    padding: 100px;
}