body {
    padding-top: 70px;
    background-color: #e9ebee;
}

input.input-box, textarea {
    background-color: white;
}

div, p, h1, h2, h3, h4, h5, input, a, button, label, textarea, text, body, li, table, tr, td, th, tbody {
    font-family: Lato;
    font-size: 20px;
    color: lightgrey;
}

h1 {
    font-size: 30px;
    color: #007aff;
}

h2 {
    font-size: 28px;
    color: #007aff;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

.container {
    background: rgb(26, 39, 50);
    padding: 20px;
    margin-bottom: 10px;
}

.nav > li > a {
    color: #007aff;
}