/* Tabs einfärben*/

.nav-tabs {
    background: #615A7F;
    margin-top: 25px;
    border-color: #615A7F;
    border-width: 5px;
    border-style: solid;
    border-bottom: none;
}

    .nav-tabs > li {
        margin: 0px 5px 0px 5px;
    }

        .nav-tabs > li:nth-child(odd) {
            background: #c7c3d5;
            border-radius: 3px;
        }

        .nav-tabs > li:nth-child(even) {
            background: #615A7F;
            border-radius: 3px;
        }

            .nav-tabs > li:nth-child(even) > a {
                color: white;
                outline-color: white;
            }
            .nav-tabs > li:nth-child(uneven) > a {
                color: black;
            }
        .nav-tabs > li.active > a {
            color: black;
        }

.admin_main {
    margin-top: 2.5em;
}

/*Textarea*/

#text_admin {
    height: 300px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    min-width: 100%;
    line-height: 1.5;
    padding: 15px 15px 15px;
    border-radius: 3px;
    border: 1px solid #615A7F;
    transition: box-shadow 0.5s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}




/*Slider*/

li > p > p > .slider {
    max-width: 80%;
    outline: none;
    opacity: 0.75;
    transition: opacity .2s;
}

li > .slider:hover {
    opacity: 1;
}

body {
    margin-bottom: 50px;
    min-height: 600px;
    padding-top: 70px;
}

/*make list scrollable*/

.auto {
    max-height: 500px;
    overflow: auto;
    max-width: 100%;
}

/*Punkte als Aufzählung*/

.list_admin {
    min-height: 150px;
    list-style: disc inside;
    padding: 15px 15px 15px;
    border: 1px solid #615A7F;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.myForm {
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 15px 0px;
}

#list_of_Keywords_admin > li {
    padding: 15px 15px 15px;
}

hr {
    display: block;
    margin-top: 2.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


/*AUTOCOMPLETION*/
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: block;
}

.autocomplete-items {
    position: sticky;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    /*background-color: #fff;*/
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.btn-primary {
    border-radius: 3px;
}


#div_edit_case {
    visibility: hidden;
}

#div_edit_category {
    visibility: hidden;
}
