/* Tabs einfärben*/

.top {
    background: #615A7F;
    margin-top: 25px;
    border-color: #615A7F;
    border-width: 1px;
    border-style: solid;
    border-bottom: none;
}

.top > li{
    margin: -5px -5px -5px -5px;
    background: #c7c3d5;
    border-radius: 0px;
    border: 1px solid black;
    float: left;
}

.top > li > a{
    color: black;
    font-size: 30px;
}

table, th, td {
    border: 1px solid black;
    border-right: none;
	border-left: none;
}

table > tbody > tr > th {
	border: 1px solid black;
	padding:5px;
	color: black;
	font-size: 20px;
	border-right: none;
	border-left: none;
}

table > tbody > tr > td {
	border: 1px solid black;
	padding:5px;
	color: black;
	font-size: 20px;
	border-right: none;
	border-left: none;
}

body {
    margin-bottom: 50px;
    min-height: 600px;
    padding-top: 70px;
}

button {
     background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:0px solid #444; 
     cursor: pointer;
}
