.dark-bg {
    background: rgb(26, 39, 50);
}

body {
    padding-top: 70px;
}

.navbar .navbar-header > a > .logo {
    color: rgb(254, 209, 137);
    font-size: 27px;
}

.lite {
    color: rgb(0, 160, 223);
    font-size: 27px;
}

icon_house_alt:before {
    content: "\e009";
}

.profile-ava {
    display: inherit;
    margin: 0px;
}

    .profile-ava img {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        border: 2px solid #688a7e;
        display: inline-block;
    }

.login {
    display: block;
}

.navbar-nav.navbar-right:last-child {
    margin: 0px;
}

.navbar-default {
    background-color: rgb(26, 39, 50);
    border-color: transparent;
}

    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a {
        color: #1babee;
    }
        .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
            color: #ffffff;
        }

#navbar .dropdown-menu {
    background: rgb(26, 39, 50);
}

#navbar .dropdown-menu > li > a {
    background: rgb(26, 39, 50);
    color: #1babee;
}
    #navbar .dropdown-menu > li > a:hover {
        background: rgb(26, 39, 50);
        color: white;
    }

.navbar-collapse .navbar-nav.navbar-right:last-child{
    margin-right: 15px;
}

/*No padding at bottom of Navbar*/
.navbar-nav > li > a {
    padding-bottom: 0px;
}

#navbar{
    padding-right: 25px;
}