.niedrigUnchecked {
    background-color: transparent;
    background-image: none;
    border-bottom-color: rgb(32, 119, 178);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(32, 119, 178);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(32, 119, 178);
    border-right-style: solid;
    border-right-width: 1px;
    border-spacing: 0px 0px;
    border-top-color: rgb(32, 119, 178);
    border-top-left-radius: 3px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 3px 5px 0px inset;
    box-sizing: border-box;
    color: rgb(32, 119, 178);
    cursor: pointer;
    display: block;
    float: left;
    font-family: Lato;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 13px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-offset: -2px;
    outline-style: none;
    outline-width: 0px;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-transform: none;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    vertical-align: middle;
    white-space: nowrap;
    z-index: 2;
    -moz-user-select: none;
}

.niedrigChecked {
    background-color: rgb(35, 131, 196);
    background-image: none;
    border-bottom-color: rgb(32, 119, 178);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(32, 119, 178);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(32, 119, 178);
    border-right-style: solid;
    border-right-width: 1px;
    border-spacing: 0px 0px;
    border-top-color: rgb(32, 119, 178);
    border-top-left-radius: 3px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 3px 5px 0px inset;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    float: left;
    font-family: Lato;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 13px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-offset: -2px;
    outline-style: none;
    outline-width: 0px;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-transform: none;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    vertical-align: middle;
    white-space: nowrap;
    z-index: 2;
    -moz-user-select: none;
}

.mittelUnchecked {
    background-color: transparent;
    background-image: none;
    border-bottom-color: rgb(255, 204, 0);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 204, 0);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(255, 204, 0);
    border-right-style: solid;
    border-right-width: 1px;
    border-spacing: 0px 0px;
    border-top-color: rgb(255, 204, 0);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(255, 204, 0);
    cursor: pointer;
    display: block;
    float: left;
    font-family: Lato;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 13px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-offset: -2px;
    outline-style: none;
    outline-width: 0px;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-transform: none;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    vertical-align: middle;
    white-space: nowrap;
    z-index: 2;
    -moz-user-select: none;
}

.mittelChecked {
    background-color: rgb(255, 204, 0);
    background-image: none;
    border-bottom-color: rgb(255, 204, 0);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 204, 0);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(255, 204, 0);
    border-right-style: solid;
    border-right-width: 1px;
    border-spacing: 0px 0px;
    border-top-color: rgb(255, 204, 0);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    float: left;
    font-family: Lato;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 13px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-offset: -2px;
    outline-style: none;
    outline-width: 0px;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-transform: none;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    vertical-align: middle;
    white-space: nowrap;
    z-index: 2;
    -moz-user-select: none;
}

.hochUnchecked {
    background-color: transparent;
    background-image: none;
    border-bottom-color: rgb(205, 42, 25);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(205, 42, 25);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(205, 42, 25);
    border-right-style: solid;
    border-right-width: 1px;
    border-spacing: 0px 0px;
    border-top-color: rgb(205, 42, 25);
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(223, 46, 27);
    cursor: pointer;
    display: block;
    float: left;
    font-family: Lato;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 13px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-offset: -2px;
    outline-style: none;
    outline-width: 0px;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-transform: none;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    vertical-align: middle;
    white-space: nowrap;
    z-index: 2;
    -moz-user-select: none;
}

.hochChecked {
    background-color: rgb(223, 46, 27);
    background-image: none;
    border-bottom-color: rgb(205, 42, 25);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(205, 42, 25);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(205, 42, 25);
    border-right-style: solid;
    border-right-width: 1px;
    border-spacing: 0px 0px;
    border-top-color: rgb(205, 42, 25);
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    float: left;
    font-family: Lato;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 13px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-offset: -2px;
    outline-style: none;
    outline-width: 0px;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-transform: none;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    vertical-align: middle;
    white-space: nowrap;
    z-index: 2;
    -moz-user-select: none;
}

textarea#textarea_eingabe {
    color: rgb(26, 39, 50);
}

.tableau {
    height: 300px;
    overflow: auto;
}

.tableau {
    border: 1px solid black;
}

div.symptom{
    margin: 0px;
}

div#btn_submit_div, div#div_h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}