/*------------------------------------------/
/----------------Navbar---------------------/
/------------------------------------------*/
#btn_submit {
    width: 100px;
}
.navbar-fixed-top {
    background-color: #615A7F;
	min-height: 50px;
	width: 100%;
	z-index: 999;
    margin-bottom: 100px;
}

.first-after-navbar{
    margin-top: 50px;
}
.navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-nav > li > a:hover{ 
    /*hintergrund bei hover
    schriftfarbe bei focus
    
    '>' bezieht sich auf direkten nachfolger (child)*/
    background-color: #EAE6FC;
    color: #543B67; /*schrift*/
}

.menuItem a, .navbar-brand{
    font-weight: 600;
    font-size: 20px;
    color: #E2D8DE;
}

.navbar-brand{
    color: #D1CCD5;
    font-size: 45px;
}

.navbar-header .navbar-brand:hover, .navbar-header .navbar-brand:focus{ /*schriftfarbe ändern bei hover*/
    color: #EAE6FC;
}

/* code pour checker1*/
body{
    padding-top: 70px;
}

.checken{
    border: 1px solid black;
    padding: 18px;
    border-radius: 12px;
    text-align: center;
}
.btn-lg {
    width: 170px;
    height: 170px;
    border-radius: 100px;
    text-align: center;
}
/*fin*/
/*debut pour checkereinhacken*/
.tableau{
     height: 300px;
    overflow: auto;
}
.tableau{
    border: 1px solid black;
}
.tableau2{
     border: 1px solid black;
     height: 200px;
     overflow: auto;
}
.textar {
    height: 100%;
    width: 100%;
    border: 0px;
    overflow: auto;
    text-align: justify;
    resize: none;
}
.close {
    color: black;
}

.newRow {
    padding-top: 25px;
}

.symptom {
    padding-top: 10px;
    margin-left: -15px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}
/*FORUM*/
table{
    margin-bottom: 20px;
    font-size: 1em;
}
.ulfo{
    font-size: 1.1em;
    list-style-type: none;
   
}
li{
    text-align:;
    padding-bottom: 6px;
    color: red;
}
.top{
    margin-left: 45px;
    padding-bottom: 10px;
    color: green;
}
.hi{
    color: green;
}
.BTN{
     margin-left: 45px;
}
.text3{
    height: 100px;
    width: 500px;
}

/*     Genereates Right Side Offset     */
.col-xs-offset-right-12 {
    margin-right: 100%;
}

.col-xs-offset-right-11 {
    margin-right: 91.66666667%;
}

.col-xs-offset-right-10 {
    margin-right: 83.33333333%;
}

.col-xs-offset-right-9 {
    margin-right: 75%;
}

.col-xs-offset-right-8 {
    margin-right: 66.66666667%;
}

.col-xs-offset-right-7 {
    margin-right: 58.33333333%;
}

.col-xs-offset-right-6 {
    margin-right: 50%;
}

.col-xs-offset-right-5 {
    margin-right: 41.66666667%;
}

.col-xs-offset-right-4 {
    margin-right: 33.33333333%;
}

.col-xs-offset-right-3 {
    margin-right: 25%;
}

.col-xs-offset-right-2 {
    margin-right: 16.66666667%;
}

.col-xs-offset-right-1 {
    margin-right: 8.33333333%;